@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
  color: $color-title;
  font-family: $font;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

h1 {
  font-size: 5vmin;
}

#login-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  width: 80%;
}

#login-section {
  height: 500px;
  min-height: 300px;
  margin: auto;
  width: 80%;
  max-width: 500px;
  position: relative;
  top: 30%;
  border: 1px solid black;
  border-radius: 10px;

  @media screen and (max-width: 500px) {
    height: 80vw;
  }

}