@import 'variables.scss';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: rgb(233, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  @media screen and (max-width: 1024px) {
    height: 250px;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }


  .hamburger-menu {
    position: relative;
    width: 30px;
    height: 30px;
    top: 10%;
    left: 50%;
    margin-left: -15px;
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      background: black;
      border-radius: 5px;
      left: 0;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }
  }

  >ul {
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    left: 50%;
    margin-left: -36px;
    list-style: outside;
    transform: translate(-1000px);
    @extend %transition;

    &.on {
      transform: translate(0);
    }

    >li {
      margin: 10px 0;
      position: relative;
      overflow: hidden;
      width: fit-content;
      padding: 10px 0;

      &::before {
        content: "";
        position: absolute;
        top: 95%;
        left: 0;
        width: 100%;
        height: 20%;
        background-color:$color-title;
        @extend %transition;
        transform: translateX(-110%);
        border-radius: 1px;
      }

      &:hover {
        cursor: pointer;

        &::before {
          transform: translateX(0);
        }

      }
    }
  }
}

