@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-weight: normal !important;
  color: $color-title;
  font-family: $font;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

h1 {
  font-size: 5vmin;
}

span {
  font-size: 3vmin;
}

#login-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  position: relative;
  top: 30px
}

#login-section {
  height: 500px;
  min-height: 300px;
  margin: auto;
  width: 80%;
  max-width: 500px;
  position: relative;
  top: 30%;
  border: 1px solid black;
  border-radius: 10px;

  @media screen and (max-width: 400px) {
    height: 350px;
  }

}

.error {
  position: relative;
  width: 80%;
  height: auto;
  text-align: left;
  padding: 20px;
  margin-bottom: 3vw;

  &::before {
    content: '';
    opacity: 0.3;
    border-radius: 5px;
    background-color: rgb(241, 67, 67);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  span {
    display: block;
    margin: auto;
    text-align: center;
  }
}