#login-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  position: relative;
  top: 30px;
}

#login-section {
  height: 500px;
  min-height: 300px;
  margin: auto;
  width: 80%;
  max-width: 500px;
  position: relative;
  top: 30%;
  border: 1px solid black;
  border-radius: 10px;
}
@media screen and (max-width: 400px) {
  #login-section {
    height: 350px;
  }
}

.error {
  position: relative;
  width: 80%;
  height: auto;
  text-align: left;
  padding: 20px;
  margin-bottom: 3vw;
}
.error::before {
  content: "";
  opacity: 0.3;
  border-radius: 5px;
  background-color: #f14343;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.error span {
  display: block;
  margin: auto;
  text-align: center;
}

.menu > ul > li::before, .menu > ul {
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #e9e6e6;
  box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
@media screen and (max-width: 1024px) {
  .menu {
    height: 250px;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 10;
  }
}
.menu .hamburger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 50%;
  margin-left: -15px;
  background: transparent;
  border: none;
}
.menu .hamburger-menu:hover {
  cursor: pointer;
}
.menu .hamburger-menu span {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: black;
  border-radius: 5px;
  left: 0;
}
.menu .hamburger-menu span:nth-child(1) {
  top: 0;
}
.menu .hamburger-menu span:nth-child(2) {
  top: 10px;
}
.menu .hamburger-menu span:nth-child(3) {
  top: 20px;
}
.menu > ul {
  position: absolute;
  top: 20%;
  text-transform: uppercase;
  left: 50%;
  margin-left: -36px;
  list-style: outside;
  transform: translate(-1000px);
}
.menu > ul.on {
  transform: translate(0);
}
.menu > ul > li {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  width: fit-content;
  padding: 10px 0;
}
.menu > ul > li::before {
  content: "";
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #3D3D3D;
  transform: translateX(-110%);
  border-radius: 1px;
}
.menu > ul > li:hover {
  cursor: pointer;
}
.menu > ul > li:hover::before {
  transform: translateX(0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  font-weight: normal !important;
  color: #3D3D3D;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

h1 {
  font-size: 5vmin;
}

span {
  font-size: 3vmin;
}

#cards-container #thumb {
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.title {
  font-size: 5vmin;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  margin: 30px 0 30px 300px;
}
@media screen and (max-width: 1024px) {
  .title {
    margin: 280px 0 0 0;
  }
}

.overlay {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  visibility: hidden;
  padding: 20px;
}
.overlay.on {
  visibility: visible;
}
.overlay div {
  position: relative;
  width: 60%;
  height: 60vw;
  max-width: 35vw;
  max-height: 80vh;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;
}

.btn-close {
  position: absolute;
  top: 10px;
  left: calc(100% - 50px);
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
}
.btn-close:hover {
  cursor: pointer;
}
.btn-close > span {
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1px;
  background: white;
}
.btn-close > span:nth-child(1) {
  transform: rotate(45deg);
}
.btn-close > span:nth-child(2) {
  transform: rotate(-45deg);
}

#cards-container {
  position: relative;
  left: 300px;
  height: max-content;
  padding: 20px;
  flex-wrap: wrap;
  max-width: calc(100vw - 300px);
}
@media screen and (max-width: 1024px) {
  #cards-container {
    width: 100%;
    left: 0;
    max-width: 100vw;
    justify-content: center;
  }
}
#cards-container #thumb {
  list-style: none;
  width: 100%;
  max-width: 350px;
  height: 250px;
  background-position: center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  #cards-container #thumb {
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  #cards-container #thumb {
    height: 350px;
  }
}
@media screen and (min-width: 1440px) {
  #cards-container #thumb {
    height: 400px;
  }
}
#cards-container #thumb:hover {
  background-size: 100% 100%;
}

/*# sourceMappingURL=styles.css.map */
